n8n/w118_full_scanner.json
{
  "name": "W118 Full Auto Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURE HERE\nvar ALPACA_KEY_ID     = 'PASTE_YOUR_KEY_ID_HERE';\nvar ALPACA_SECRET_KEY = 'PASTE_YOUR_SECRET_KEY_HERE';\nvar FMP_API_KEY       = 'PASTE_YOUR_FMP_KEY_HERE';\nvar MAX_POSITIONS     = 3;\n\n// Time gate: 4am–11am ET only — afternoon signals lack volume to reach T1/T2/T3\n// EDT = UTC-4 → 4am ET = UTC 08:00, 11am ET = UTC 15:00\nvar now = new Date();\nvar utcHour = now.getUTCHours();\nif (utcHour < 8 || utcHour >= 15) return [];\n\nvar alpacaHeaders = {\n  'APCA-API-KEY-ID': ALPACA_KEY_ID,\n  'APCA-API-SECRET-KEY': ALPACA_SECRET_KEY\n};\n\n// Check current positions (cap at MAX_POSITIONS)\nvar heldTickers = [];\ntry {\n  var pos = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://paper-api.alpaca.markets/v2/positions',\n    headers: alpacaHeaders\n  });\n  for (var pi = 0; pi < pos.length; pi++) heldTickers.push(pos[pi].symbol);\n} catch(err) {}\nif (heldTickers.length >= MAX_POSITIONS) return [];\n\n// FMP real-time gainers — pre-filter by price, change%, absolute volume\nvar candidates = [];\ntry {\n  var gainers = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://financialmodelingprep.com/api/v3/stock_market/gainers?apikey=' + FMP_API_KEY\n  });\n  for (var gi = 0; gi < gainers.length; gi++) {\n    var g = gainers[gi];\n    var price = g.price || 0;\n    var chg   = g.changesPercentage || g.changePercent || 0;\n    var vol   = g.volume || 0;\n    if (price < 0.10 || price > 5.0) continue;   // $0.10–$5 universe\n    if (chg < 10.0) continue;                      // min +10% gain\n    if (vol < 1000000) continue;                    // absolute vol >1M (no dead stocks)\n    candidates.push(g.symbol);\n    if (candidates.length >= 20) break;\n  }\n} catch(e) { return []; }\n\nif (candidates.length === 0) return [];\n\n// ── INDICATOR FUNCTIONS ────────────────────────────────────────────────────\n\nfunction emaArr(vals, p) {\n  var k = 2 / (p + 1), r = [vals[0]];\n  for (var i = 1; i < vals.length; i++) r.push(vals[i] * k + r[i-1] * (1 - k));\n  return r;\n}\n\nfunction calcRSI(closes, p) {\n  var ch = [];\n  for (var i = 1; i < closes.length; i++) ch.push(closes[i] - closes[i-1]);\n  var ag = 0, al = 0;\n  for (var i = 0; i < p; i++) { if (ch[i] > 0) ag += ch[i]; else al -= ch[i]; }\n  ag /= p; al /= p;\n  var out = [];\n  for (var i = p; i < ch.length; i++) {\n    ag = (ag * (p-1) + Math.max(ch[i], 0)) / p;\n    al = (al * (p-1) + Math.max(-ch[i], 0)) / p;\n    out.push(al === 0 ? 100 : 100 - 100 / (1 + ag / al));\n  }\n  return out;\n}\n\nfunction calcStochRSI(closes) {\n  var rp = 14, sp = 14, ks = 3, ds = 3;\n  var rsi = calcRSI(closes, rp);\n  if (rsi.length < sp + ks + ds) return null;\n  var rawK = [];\n  for (var i = sp-1; i < rsi.length; i++) {\n    var sl = rsi.slice(i-sp+1, i+1);\n    var lo = sl[0], hi = sl[0];\n    for (var j = 1; j < sl.length; j++) { if (sl[j] < lo) lo = sl[j]; if (sl[j] > hi) hi = sl[j]; }\n    rawK.push(hi === lo ? 0 : (rsi[i] - lo) / (hi - lo) * 100);\n  }\n  var sK = [];\n  for (var i = ks-1; i < rawK.length; i++) {\n    var s = 0; for (var j = i-ks+1; j <= i; j++) s += rawK[j]; sK.push(s / ks);\n  }\n  var sD = [];\n  for (var i = ds-1; i < sK.length; i++) {\n    var s = 0; for (var j = i-ds+1; j <= i; j++) s += sK[j]; sD.push(s / ds);\n  }\n  if (sK.length < 2 || sD.length < 1) return null;\n  return { k: sK[sK.length-1], kPrev: sK[sK.length-2], d: sD[sD.length-1] };\n}\n\nfunction calcZLSMA(closes, p) {\n  if (closes.length < p * 2) return null;\n  var e1 = emaArr(closes, p), e2 = emaArr(e1, p);\n  return 2 * e1[e1.length-1] - e2[e2.length-1];\n}\n\nfunction calcMACD(closes) {\n  if (closes.length < 35) return null;\n  var ema12 = emaArr(closes, 12), ema26 = emaArr(closes, 26);\n  var macdLine = [];\n  for (var i = 0; i < closes.length; i++) macdLine.push(ema12[i] - ema26[i]);\n  var sig = emaArr(macdLine, 9);\n  return macdLine[macdLine.length-1] - sig[sig.length-1];\n}\n\nfunction calcSupertrend(bars, period, mult) {\n  // ATR Period=10, Source=hl2, Multiplier=2 — matches W118 Supertrend settings\n  if (bars.length < period + 2) return null;\n  var trs = [];\n  for (var i = 1; i < bars.length; i++) {\n    var h = bars[i].h, l = bars[i].l, pc = bars[i-1].c;\n    trs.push(Math.max(h - l, Math.abs(h - pc), Math.abs(l - pc)));\n  }\n  // Wilder's smoothing\n  var atr = new Array(trs.length).fill(0);\n  var initSum = 0;\n  for (var i = 0; i < period; i++) initSum += trs[i];\n  atr[period-1] = initSum / period;\n  for (var i = period; i < trs.length; i++) atr[i] = (atr[i-1] * (period-1) + trs[i]) / period;\n  // atr[i] is ATR computed through bars[i+1]\n  var ub = new Array(bars.length).fill(0);\n  var lb = new Array(bars.length).fill(0);\n  var dir = new Array(bars.length).fill(1);\n  for (var i = period; i < bars.length; i++) {\n    var a = atr[i-1];\n    var hl2 = (bars[i].h + bars[i].l) / 2;\n    var rawUb = hl2 + mult * a, rawLb = hl2 - mult * a;\n    if (i === period) { ub[i] = rawUb; lb[i] = rawLb; dir[i] = 1; continue; }\n    // Band persistence: upper tightens, lower raises\n    ub[i] = (rawUb < ub[i-1] || bars[i-1].c > ub[i-1]) ? rawUb : ub[i-1];\n    lb[i] = (rawLb > lb[i-1] || bars[i-1].c < lb[i-1]) ? rawLb : lb[i-1];\n    // Direction flip on breakout\n    if      (dir[i-1] === -1 && bars[i].c > ub[i]) dir[i] = 1;   // flip bullish\n    else if (dir[i-1] ===  1 && bars[i].c < lb[i]) dir[i] = -1;  // flip bearish\n    else dir[i] = dir[i-1];\n  }\n  return dir[bars.length-1]; // 1 = bullish (green), -1 = bearish (red)\n}\n\n// ── SCAN LOOP ──────────────────────────────────────────────────────────────\n\nvar signals = [];\n\nfor (var ci = 0; ci < candidates.length; ci++) {\n  var ticker = candidates[ci];\n  if (heldTickers.indexOf(ticker) >= 0) continue;\n  if (heldTickers.length + signals.length >= MAX_POSITIONS) break;\n\n  try {\n    var barsData = await $helpers.httpRequest({\n      method: 'GET',\n      url: 'https://data.alpaca.markets/v2/stocks/' + ticker + '/bars?timeframe=5Min&limit=100&feed=iex&adjustment=raw',\n      headers: alpacaHeaders\n    });\n    var bars = barsData.bars;\n    if (!bars || bars.length < 60) continue;\n\n    var closes = [];\n    for (var i = 0; i < bars.length; i++) closes.push(bars[i].c);\n    var price = closes[closes.length-1];\n    if (price < 0.10 || price > 5.0) continue;\n\n    // 1. Supertrend bullish — PRIMARY trigger (ATR 10, hl2, mult 2)\n    var stDir = calcSupertrend(bars, 10, 2);\n    if (stDir !== 1) continue;\n\n    // 2. StochRSI K > D\n    var srsi = calcStochRSI(closes);\n    if (!srsi || srsi.k <= srsi.d) continue;\n\n    // 3. Price above ZLSMA-50\n    var zlsma = calcZLSMA(closes, 50);\n    if (!zlsma || price <= zlsma) continue;\n\n    // 4. MACD histogram > 0 (momentum building, not fading)\n    var macdHist = calcMACD(closes);\n    if (macdHist === null || macdHist <= 0) continue;\n\n    // 5. Volume > 4x 20-bar average\n    var vols = [];\n    for (var i = bars.length-21; i < bars.length-1; i++) vols.push(bars[i].v);\n    var avgVol = 0;\n    for (var i = 0; i < vols.length; i++) avgVol += vols[i];\n    avgVol /= vols.length;\n    var curVol = bars[bars.length-1].v;\n    if (curVol < avgVol * 4.0) continue;\n\n    signals.push({\n      json: {\n        ticker:     ticker,\n        price:      price,\n        stop:       parseFloat((price * 0.92).toFixed(4)),\n        t1:         parseFloat((price * 1.15).toFixed(4)),\n        t2:         parseFloat((price * 1.30).toFixed(4)),\n        t3:         parseFloat((price * 1.60).toFixed(4)),\n        qty:        10,\n        qty_t1:     3,\n        qty_t2:     3,\n        qty_t3:     4,\n        k:          srsi.k.toFixed(1),\n        d:          srsi.d.toFixed(1),\n        macd_hist:  macdHist.toFixed(4),\n        vol_ratio:  (curVol / avgVol).toFixed(1),\n        deep_reset: srsi.kPrev < 15,\n        ALPACA_KEY_ID:     ALPACA_KEY_ID,\n        ALPACA_SECRET_KEY: ALPACA_SECRET_KEY\n      }\n    });\n  } catch(e) {}\n}\n\nreturn signals;"
      },
      "name": "W118 Full Scanner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "={{ $json.ALPACA_KEY_ID }}"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "={{ $json.ALPACA_SECRET_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $json.ticker }}\", \"qty\": {{ $json.qty }}, \"side\": \"buy\", \"type\": \"market\", \"time_in_force\": \"day\" }"
      },
      "name": "Alpaca BUY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "={{ $('W118 Full Scanner').item.json.ALPACA_KEY_ID }}"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "={{ $('W118 Full Scanner').item.json.ALPACA_SECRET_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $('W118 Full Scanner').item.json.ticker }}\", \"qty\": {{ $('W118 Full Scanner').item.json.qty }}, \"side\": \"sell\", \"type\": \"stop\", \"stop_price\": {{ $('W118 Full Scanner').item.json.stop }}, \"time_in_force\": \"gtc\" }"
      },
      "name": "Alpaca STOP LOSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "={{ $('W118 Full Scanner').item.json.ALPACA_KEY_ID }}"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "={{ $('W118 Full Scanner').item.json.ALPACA_SECRET_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $('W118 Full Scanner').item.json.ticker }}\", \"qty\": {{ $('W118 Full Scanner').item.json.qty_t1 }}, \"side\": \"sell\", \"type\": \"limit\", \"limit_price\": {{ $('W118 Full Scanner').item.json.t1 }}, \"time_in_force\": \"gtc\" }"
      },
      "name": "Alpaca T1 SELL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "={{ $('W118 Full Scanner').item.json.ALPACA_KEY_ID }}"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "={{ $('W118 Full Scanner').item.json.ALPACA_SECRET_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $('W118 Full Scanner').item.json.ticker }}\", \"qty\": {{ $('W118 Full Scanner').item.json.qty_t2 }}, \"side\": \"sell\", \"type\": \"limit\", \"limit_price\": {{ $('W118 Full Scanner').item.json.t2 }}, \"time_in_force\": \"gtc\" }"
      },
      "name": "Alpaca T2 SELL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "={{ $('W118 Full Scanner').item.json.ALPACA_KEY_ID }}"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "={{ $('W118 Full Scanner').item.json.ALPACA_SECRET_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $('W118 Full Scanner').item.json.ticker }}\", \"qty\": {{ $('W118 Full Scanner').item.json.qty_t3 }}, \"side\": \"sell\", \"type\": \"limit\", \"limit_price\": {{ $('W118 Full Scanner').item.json.t3 }}, \"time_in_force\": \"gtc\" }"
      },
      "name": "Alpaca T3 SELL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 600]
    },
    {
      "parameters": {
        "chatId": "8223032422",
        "text": "=🤖 W118 AUTO SCANNER TRADE\n🟢 BUY {{ $('W118 Full Scanner').item.json.ticker }} — 10 shares @ ${{ $('W118 Full Scanner').item.json.price }}\n📊 K={{ $('W118 Full Scanner').item.json.k }} D={{ $('W118 Full Scanner').item.json.d }} Vol={{ $('W118 Full Scanner').item.json.vol_ratio }}x\n🛑 Stop: ${{ $('W118 Full Scanner').item.json.stop }}\n🎯 T1: ${{ $('W118 Full Scanner').item.json.t1 }} | T2: ${{ $('W118 Full Scanner').item.json.t2 }} | T3: ${{ $('W118 Full Scanner').item.json.t3 }}",
        "additionalFields": {}
      },
      "name": "Telegram Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 420],
      "credentials": {
        "telegramApi": {
          "name": "W118 Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "W118 Full Scanner", "type": "main", "index": 0}]]
    },
    "W118 Full Scanner": {
      "main": [[{"node": "Alpaca BUY", "type": "main", "index": 0}]]
    },
    "Alpaca BUY": {
      "main": [[
        {"node": "Alpaca STOP LOSS", "type": "main", "index": 0},
        {"node": "Alpaca T1 SELL",   "type": "main", "index": 0},
        {"node": "Alpaca T2 SELL",   "type": "main", "index": 0},
        {"node": "Alpaca T3 SELL",   "type": "main", "index": 0}
      ]]
    },
    "Alpaca T3 SELL": {
      "main": [[{"node": "Telegram Confirmation", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
