n8n/w118_tv_webhook.json
{
  "name": "W118 TV Webhook Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "w118-signal",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 380],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "jsCode": "// === CONFIGURE HERE ===\nvar ALPACA_KEY_ID     = 'PASTE_YOUR_KEY_ID_HERE';\nvar ALPACA_SECRET_KEY = 'PASTE_YOUR_SECRET_KEY_HERE';\nvar MAX_POSITIONS     = 3;\n// =======================\n\n// Handle both wrapped {body:{...}} and flat {ticker:...} payloads\nvar body   = ($json.body !== undefined) ? $json.body : $json;\nvar ticker = String(body.ticker || '').toUpperCase().trim();\nvar price  = parseFloat(body.price) || 0;\nvar signal = String(body.signal || '').toUpperCase().trim();\n\nif (!ticker || price <= 0) return [];\nif (signal !== 'BUY' && signal !== 'EXIT') return [];\n\nvar alpacaHeaders = {\n  'APCA-API-KEY-ID': ALPACA_KEY_ID,\n  'APCA-API-SECRET-KEY': ALPACA_SECRET_KEY\n};\n\n// EXIT path: pass through — Exit Handler node does cancel + sell\nif (signal === 'EXIT') {\n  return [{ json: { ticker, price, signal, ALPACA_KEY_ID, ALPACA_SECRET_KEY } }];\n}\n\n// BUY path: guard against existing positions\nvar heldTickers = [];\ntry {\n  var pos = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://paper-api.alpaca.markets/v2/positions',\n    headers: alpacaHeaders\n  });\n  for (var pi = 0; pi < pos.length; pi++) {\n    heldTickers.push(pos[pi].symbol);\n  }\n} catch(e) {}\n\nif (heldTickers.indexOf(ticker) >= 0) return [];  // already holding\nif (heldTickers.length >= MAX_POSITIONS) return [];  // at capacity\n\nvar stop = parseFloat((price * 0.92).toFixed(2));\nvar t1   = parseFloat((price * 1.15).toFixed(2));\nvar t2   = parseFloat((price * 1.30).toFixed(2));\nvar t3   = parseFloat((price * 1.60).toFixed(2));\n\nreturn [{ json: {\n  ticker, price, signal,\n  stop, t1, t2, t3,\n  qty: 10, qty_t1: 3, qty_t2: 3, qty_t3: 4,\n  ALPACA_KEY_ID, ALPACA_SECRET_KEY\n} }];"
      },
      "name": "Parse + Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.signal }}",
              "operation": "equals",
              "value2": "BUY"
            }
          ]
        }
      },
      "name": "Route BUY or EXIT",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "APCA-API-KEY-ID",     "value": "={{ $json.ALPACA_KEY_ID }}"},
            {"name": "APCA-API-SECRET-KEY", "value": "={{ $json.ALPACA_SECRET_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $json.ticker }}\", \"qty\": {{ $json.qty }}, \"side\": \"buy\", \"type\": \"market\", \"time_in_force\": \"day\" }"
      },
      "name": "Alpaca BUY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "APCA-API-KEY-ID",     "value": "={{ $('Parse + Guard').item.json.ALPACA_KEY_ID }}"},
            {"name": "APCA-API-SECRET-KEY", "value": "={{ $('Parse + Guard').item.json.ALPACA_SECRET_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $('Parse + Guard').item.json.ticker }}\", \"qty\": {{ $('Parse + Guard').item.json.qty }}, \"side\": \"sell\", \"type\": \"stop\", \"stop_price\": {{ $('Parse + Guard').item.json.stop }}, \"time_in_force\": \"gtc\" }"
      },
      "name": "Alpaca STOP LOSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "APCA-API-KEY-ID",     "value": "={{ $('Parse + Guard').item.json.ALPACA_KEY_ID }}"},
            {"name": "APCA-API-SECRET-KEY", "value": "={{ $('Parse + Guard').item.json.ALPACA_SECRET_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $('Parse + Guard').item.json.ticker }}\", \"qty\": {{ $('Parse + Guard').item.json.qty_t1 }}, \"side\": \"sell\", \"type\": \"limit\", \"limit_price\": {{ $('Parse + Guard').item.json.t1 }}, \"time_in_force\": \"gtc\" }"
      },
      "name": "Alpaca T1 SELL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "APCA-API-KEY-ID",     "value": "={{ $('Parse + Guard').item.json.ALPACA_KEY_ID }}"},
            {"name": "APCA-API-SECRET-KEY", "value": "={{ $('Parse + Guard').item.json.ALPACA_SECRET_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $('Parse + Guard').item.json.ticker }}\", \"qty\": {{ $('Parse + Guard').item.json.qty_t2 }}, \"side\": \"sell\", \"type\": \"limit\", \"limit_price\": {{ $('Parse + Guard').item.json.t2 }}, \"time_in_force\": \"gtc\" }"
      },
      "name": "Alpaca T2 SELL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "APCA-API-KEY-ID",     "value": "={{ $('Parse + Guard').item.json.ALPACA_KEY_ID }}"},
            {"name": "APCA-API-SECRET-KEY", "value": "={{ $('Parse + Guard').item.json.ALPACA_SECRET_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"symbol\": \"{{ $('Parse + Guard').item.json.ticker }}\", \"qty\": {{ $('Parse + Guard').item.json.qty_t3 }}, \"side\": \"sell\", \"type\": \"limit\", \"limit_price\": {{ $('Parse + Guard').item.json.t3 }}, \"time_in_force\": \"gtc\" }"
      },
      "name": "Alpaca T3 SELL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "chatId": "8223032422",
        "text": "=🤖 TV SIGNAL — AUTO TRADE\n🟢 BUY {{ $('Parse + Guard').item.json.ticker }} — 10 shares @ ${{ $('Parse + Guard').item.json.price }}\n🛑 Stop:  ${{ $('Parse + Guard').item.json.stop }}\n🎯 T1:    ${{ $('Parse + Guard').item.json.t1 }} (3 shares)\n🎯 T2:    ${{ $('Parse + Guard').item.json.t2 }} (3 shares)\n🎯 T3:    ${{ $('Parse + Guard').item.json.t3 }} (4 shares)",
        "additionalFields": {}
      },
      "name": "Telegram BUY Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 340],
      "credentials": {
        "telegramApi": {
          "name": "W118 Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Cancel all open orders for ticker, then market sell full position\nvar ALPACA_KEY_ID     = $json.ALPACA_KEY_ID;\nvar ALPACA_SECRET_KEY = $json.ALPACA_SECRET_KEY;\nvar ticker            = $json.ticker;\nvar price             = $json.price;\n\nvar alpacaHeaders = {\n  'APCA-API-KEY-ID': ALPACA_KEY_ID,\n  'APCA-API-SECRET-KEY': ALPACA_SECRET_KEY\n};\n\n// 1. Get all open orders for this ticker\nvar orders = [];\ntry {\n  orders = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://paper-api.alpaca.markets/v2/orders?status=open&symbols=' + ticker,\n    headers: alpacaHeaders\n  });\n} catch(e) {}\n\n// 2. Cancel each one\nvar cancelledCount = 0;\nfor (var i = 0; i < orders.length; i++) {\n  try {\n    await $helpers.httpRequest({\n      method: 'DELETE',\n      url: 'https://paper-api.alpaca.markets/v2/orders/' + orders[i].id,\n      headers: alpacaHeaders\n    });\n    cancelledCount++;\n  } catch(e) {}\n}\n\n// 3. Get current position qty\nvar posQty = 0;\ntry {\n  var pos = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://paper-api.alpaca.markets/v2/positions/' + ticker,\n    headers: alpacaHeaders\n  });\n  posQty = parseInt(pos.qty) || 0;\n} catch(e) {}\n\nif (posQty <= 0) return [];\n\n// 4. Market sell entire remaining position\ntry {\n  await $helpers.httpRequest({\n    method: 'POST',\n    url: 'https://paper-api.alpaca.markets/v2/orders',\n    headers: Object.assign({}, alpacaHeaders, { 'Content-Type': 'application/json' }),\n    body: JSON.stringify({\n      symbol: ticker,\n      qty: posQty,\n      side: 'sell',\n      type: 'market',\n      time_in_force: 'day'\n    })\n  });\n} catch(e) {}\n\nreturn [{ json: {\n  ticker,\n  qty_sold: posQty,\n  exit_price: price,\n  orders_cancelled: cancelledCount,\n  ALPACA_KEY_ID,\n  ALPACA_SECRET_KEY\n} }];"
      },
      "name": "Exit Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 520]
    },
    {
      "parameters": {
        "chatId": "8223032422",
        "text": "=🤖 TV EXIT SIGNAL\n🔴 SOLD {{ $json.ticker }} — {{ $json.qty_sold }} shares @ ${{ $json.exit_price }}\n🚫 Cancelled {{ $json.orders_cancelled }} open orders",
        "additionalFields": {}
      },
      "name": "Telegram EXIT Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 520],
      "credentials": {
        "telegramApi": {
          "name": "W118 Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Parse + Guard", "type": "main", "index": 0}]]
    },
    "Parse + Guard": {
      "main": [[{"node": "Route BUY or EXIT", "type": "main", "index": 0}]]
    },
    "Route BUY or EXIT": {
      "main": [
        [{"node": "Alpaca BUY", "type": "main", "index": 0}],
        [{"node": "Exit Handler", "type": "main", "index": 0}]
      ]
    },
    "Alpaca BUY": {
      "main": [[
        {"node": "Alpaca STOP LOSS", "type": "main", "index": 0},
        {"node": "Alpaca T1 SELL",   "type": "main", "index": 0},
        {"node": "Alpaca T2 SELL",   "type": "main", "index": 0},
        {"node": "Alpaca T3 SELL",   "type": "main", "index": 0}
      ]]
    },
    "Alpaca T3 SELL": {
      "main": [[{"node": "Telegram BUY Alert", "type": "main", "index": 0}]]
    },
    "Exit Handler": {
      "main": [[{"node": "Telegram EXIT Alert", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
